@charset "ISO-8859-1";

body {
	background-image: url("/images/bigLogo.png");
	/* The image used */
	height: 580px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	/* Resize the background image to cover the entire container */
	z-index: -1;
	background-attachment: fixed;
}

#bookDiv, #searchDiv, #authorDiv {
	opacity: 90%;
}

#bookDiv {
	background-color: white;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
	.card {
		color: red;
		width: 100%;
		height: auto;
		display: block !important;
		flex: none !important;
	}
}
 */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (max-width: 768px) {
	.card {
		color: red;
		width: 100%;
		height: auto;
		display: block !important;
		flex: none !important;
	}
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */