@charset "ISO-8859-1";

@import "book.css";
@import "author.css";

body {
	/* background-image: url("/images/bigLogo.png");
	The image used
	height: 580px; You must set a specified height
	background-position: center; Center the image
	background-repeat: no-repeat; Do not repeat the image
	Resize the background image to cover the entire container
	z-index: -1;
	background-attachment: fixed; */
	background-color: #efefe7;
	
}

#AppName{
	color: #413932;
}

.form-control:focus, select:focus {
	border-color: #f44d27 !important;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) !important;
}

#subjects a:hover {
	border-color: #f44d27 !important;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) !important;
	background: white;
	color: #f44d27;
}



.navbar .navbar-search .dropdown-menu {
	min-width: 25px;
}

.dropdown-menu .label-icon {
	margin-left: 5px;
}

.btn-outline {
	background-color: transparent;
	color: inherit;
	transition: all 0.5s;
}

.center {
	max-width: 600px;
	margin: auto;
}

form {
	-webkit-flex-basis: 100%;
	-moz-flex-basis: 100%;
	-ms-flex-basis: 100%;
	-o-flex-basis: 100%;
	flex-basis: -moz-available;
	flex-basis: 100%;
}

.input-group-search {
	width: 100% !important;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (max-width: 768px) {
	.card {
		color: red;
		width: 100%;
		height: auto;
		display: block !important;
		flex: none !important;
	}
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */