@charset "ISO-8859-1";

/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
	.container #authorCard {
		width: 100%;
		height: 100%;
		color: red;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
 	
 	.container #authorCard {
		width: 100%;
		height: 100%;
		color: yellow;
	}
} 
 */
/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
 
 .container #authorCard {
		width: 100%;
		height: 100%;
		color: purple;
	}

}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
	...
}
 */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
	...
}} */