<!DOCTYPE html>
<html xlmns:th=" https://www.thymeleaf.org">
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>


<link rel="stylesheet" th:href="@{main.css}" type="text/css" />

<script src="https://kit.fontawesome.com/dcebc1a8a0.js"
	crossorigin="anonymous"></script>


<title>Home</title>

</head>
<body>

	<div class="container ">
		<h4 id="AppName" class="text-center ">Book-Dig</h4>

		<form th:action="@{/title}"
			class="form-inline col-sm-10 offset-sm-1 col-lg-6  offset-lg-3 col-sm-11  mt-4 sticky-top ">
			<div class="input-group input-group-search ">
				<div class="input-group-prepend ">

					<select id="actionSelect" class="border border-grey">
						<option th:value="title" selected>Title</option>
						<option th:value="author">Author</option>
					</select>

				</div>
				<input type="search" class="form-control" placeholder="Search..."
					aria-label="Search" aria-describedby="search-button-addon"
					name="query" required>
				<div class="input-group-append">
					<button class="btn btn-danger" type="submit"
						id="search-button-addon">&#128269;</button>
				</div>
			</div>
		</form>


		<!-- --------------------------------------------------SUBJECTS------------------------------------------------------------ -->

		<div id="subjects" th:if="${Authors==null}"
			class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-3
			col-sm-11 mt-4 text-center">
			<form th:action="@{title}">
				<input class="btn btn-light br-50 mr-3 mt-3" type="submit"
					value="Action" th:name="query" /> <input
					class="btn btn-light br-50 mr-3 mt-3" type="submit"
					value="Thriller" th:name="query" /> <input
					class="btn btn-light br-50 mr-3 mt-3" type="submit" value="Drama"
					th:name="query" /> <input class="btn btn-light br-50 mr-3 mt-3"
					type="submit" value="Crime" th:name="query" /> <input
					class="btn btn-light br-50 mr-3 mt-3" type="submit" value="Comic"
					th:name="query" />

				<hr>

				<input class="btn btn-light br-50 mr-3 mt-3" type="submit"
					value="Food" th:name="query" /> <input
					class="btn btn-light br-50 mr-3 mt-3" type="submit" value="Travel"
					th:name="query" /> <input class="btn btn-light br-50 mr-3 mt-3"
					type="submit" value="Health" th:name="query" /> <input
					class="btn btn-light br-50 mr-3 mt-3" type="submit" value="Yoga"
					th:name="query" /> <input class="btn btn-light br-50 mr-3 mt-3"
					type="submit" value="Nature" th:name="query" /> <input
					class="btn btn-light br-50 mr-3 mt-3" type="submit" value="Life"
					th:name="query" />
				<hr>

				<input class="btn btn-light br-50 mr-3 mt-3" type="submit"
					value="Sports" th:name="query" /> <input
					class="btn btn-light br-50 mr-3 mt-3" type="submit" value="Cycling"
					th:name="query" /> <input class="btn btn-light br-50 mr-3 mt-3"
					type="submit" value="Olympics" th:name="query" /> <input
					class="btn btn-light br-50 mr-3 mt-3" type="submit" value="Running"
					th:name="query" /> <input class="btn btn-light br-50 mr-3 mt-3"
					type="submit" value="Decatlon" th:name="query" /> <input
					class="btn btn-light br-50 mr-3 mt-3" type="submit" value="Life"
					th:name="query" />
				<hr>
			</form>
		</div>

		<!-- <div
			class="card mt-3 col-sm-10 offset-sm-1 col-lg-6 offset-lg-3 border border-white">
			<ul th:each="work: ${works}" th:if="${works!=null}"
				class="text-center list-unstyled">
				<li><a th:text="${work.title}"
					th:href="@{book(key=${work.key})}"></a></li>
			</ul>
		</div> -->
		<!-- --------------------------------------Authors display------------------------------------------------ -->

		<div th:if="${Authors!=null}" id="authorDiv"
			class="card mt-5 col-sm-10 offset-sm-1 col-lg-6 offset-lg-3   pl-0 pr-0"
			th:each="Author :${Authors}">


			<div class="card-header">
				<a th:text="${Author.authordisplay}"
					class="d-inline-block font-weight-bold cursor-pointer "
					th:href="@{books(key=${Author.authorid}, offset=0)}"></a> <span
					th:if="${Author.DOB!=null}" th:text="${Author.DOB}"
					class="text-muted"></span> <span th:text="'to '+${Author.DOD}"
					th:if="${Author.DOD!=null}" class="text-muted"></span>


			</div>


			<div class="card-body" th:if="${Author.topWork!=null}">
				<img class="float-left" th:src=${
					"https://covers.openlibrary.org/a/olid/"+Author.authorid+"-M.jpg"} alt="">
				<div th:if="${Author.workCount>1}">
					<span th:text="${Author.workCount}+' books about ' "></span> <span
						class="text-muted" th:each="work: ${Author.works}"
						th:text="${work}+','"></span> <em
						th:text="' including '+${Author.topWork}"></em>
				</div>

				<div th:if="${Author.workCount==1}">
					<span th:text="${Author.workCount}+' book about ' "></span> <span
						class="text-muted" th:each="work: ${Author.works}"
						th:text="${work}+','"></span> <em
						th:text="' including '+${Author.topWork}"></em>
				</div>
			</div>

			<div class="card-body" th:if="${Author.topWork==null}">

				<p class="text-danger">Sorry, we don't have much information
					about the author</p>
			</div>


		</div>

	</div>


</body>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" th:src="@{javaScript.js}"></script>

</html>
